* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: solid 3px black;
  border-radius: 10px;
  padding: 40px 40px;
}

input {
  height: 30px;
  width: 165px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 40px;
}

button {
  height: 30px;
  width: 60px;
  background-color: black;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  margin-left: 10px;
}

button:hover {
  background-color: rgb(115, 115, 115);
}

li {
  margin-bottom: 8px;
  margin-left: 23px;
  cursor: pointer;
}
